<div class="container">
  <div class="header">
    <div class="icon">
      <p class="user-initials">{{ update.creator[0] }}</p>
    </div>
    <div class="meta-data">
      <p class="name">{{ update.creator }}</p>
      <p class="date">{{ update.date }}</p>
    </div>
  </div>
  <div class="divider"></div>
  <div class="body">
    <p class="title">{{ update.title }}</p>
    <!-- image later -->
    <p class="description">
      {{ update.description }}
    </p>
  </div>
  <div class="footer">
    <button>Comment</button>
  </div>
</div>
