<div class="modal">
  <h2 mat-dialog-title>Comments</h2>
  <mat-dialog-content class="comments-container">
    <div *ngFor="let comment of comments" class="comment">
      <div class="meta">
        <span class="username">{{ comment.creatorName }}</span>
        <span class="timestamp">{{ formatTimestamp(comment.created_at!) }}</span>
      </div>
      <div class="comment-body">
        {{ comment.comment }}
      </div>
    </div>
  </mat-dialog-content>
  <div class="comment-input-container">
    <mat-form-field appearance="fill" class="comment-input">
      <mat-label>Write a comment</mat-label>
      <input matInput [(ngModel)]="newComment" (keyup.enter)="addComment()" />
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="addComment()">
      <ion-icon name="send-outline"></ion-icon>
    </button>
  </div>
</div>
