.modal {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.comment-input-container {
  display: flex;
  padding: 8px;
  border-top: 1px solid #ccc;
  align-items: center;
}

.comment-input {
  flex: 1;
  margin-right: 8px;
}

.comments-container {
  flex: 1;
  overflow-y: auto;
  padding: 8px;
}

.comment-input-container ion-icon {
  font-size: 22px;

  margin-bottom: 10px;
}
.comment-input-container .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
