<div class="modal">
  <h2 mat-dialog-title>Comments</h2>
  <mat-dialog-content class="comments-container">
    <div *ngFor="let comment of comments" class="comment">
      <p>
        <strong>{{ comment.user }}</strong
        >: {{ comment.text }}
      </p>
    </div>
  </mat-dialog-content>
  <div class="comment-input-container">
    <mat-form-field appearance="fill" class="comment-input">
      <mat-label>Write a comment</mat-label>
      <input matInput [(ngModel)]="newComment" (keyup.enter)="addComment()" />
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="addComment()">
      <ion-icon name="send-outline"></ion-icon>
    </button>
  </div>
  <!-- <mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="addComment()">Post</button>
  </mat-dialog-actions> -->
</div>
